[submodule "official-network"]
	path = official-network
	url = https://github.com/cxDlogver/tailwind.git
[submodule "browser-monitor"]
	path = browser-monitor
	url = https://github.com/cxDlogver/browser-monitor.git
	branch = main
