[submodule "official-network"]
	path = official-network
	url = https://github.com/cxDlogver/tailwind.git
[submodule "browser-monitor"]
	path = browser-monitor
	url = https://github.com/cxDlogver/browser-monitor.git
	branch = main
[submodule "qhzhc-realtime-platform"]
	path = qhzhc-realtime-platform
	url = https://github.com/cxDlogver/qhzhc-realtime-platform.git
	branch = main
[submodule "qhfg-energy-platform"]
	path = qhfg-energy-platform
	url = https://github.com/cxDlogver/qhfg-energy-platform.git
	branch = main
[submodule "miaoma-aiflow"]
	path = miaoma-aiflow
	url = https://github.com/cxDlogver/miaoma-aiflow.git
	branch = main
